{% extends 'base.html' %}
{% block content %}

<div class="container lipa-content">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">What We Do</h1>
      <p class="lead">This is the list of services we offer.</p>
    </div>
  </div>


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Advance services for further success.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Free vaccine</a></h4>
            <p class="description">for measles virus from the Lipa City Health Office.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Educational Benefit Assistance</a></h4>
            <p class="description">for senior high school and college students.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">TESDA training</a></h4>
            <p class="description">through blended learning (online and face-to-face training).</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Job opportunities</a></h4>
            <p class="description">from several companies in Lipa City.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->


  <div class="table-responsive">
    <table class='table table-hover text-center' id='services-all'>
      <thead>
        <th> </th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </thead>
    {% if object_list %}
        {% for service in object_list %}
        <tr>
          <td class='align-middle'>{{ forloop.counter }}</td>
          <td class='align-middle'>{{ service.name }}</td>
          <td class='align-middle'>{{ service.email }}</td>
          <td class='align-middle'>{{ service.telephone }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <td>No services yet.</td>
  {% endif %}
    </table>
  </div>
</div>

{% endblock %}
