<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="clients" class="clients clients">
  <div class="container">

    <div class="row">

      <div class="col-lg-2 col-md-4 col-6">
        <a href="https://www.epson.com.ph" target='_blank'>
          <img src="{% static 'images/comp1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <a href="http://www.yamaha-motor.com.ph" target='_blank'>
          <img src="{% static 'images/comp2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <a href="https://www.bandai.com" target='_blank'>
          <img src="{% static 'images/comp3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <a href="https://www.littelfuse.com" target='_blank'>
          <img src="{% static 'images/comp4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <a href="https://www.yazaki-group.com/global/network/index_ao.html" target='_blank'>
          <img src="{% static 'images/comp5.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <a href="https://koyo.jtekt.co.jp/en/" target='_blank'>
          <img src="{% static 'images/comp6.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
        </a>
      </div>

    </div>

  </div>
</section>


<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          One of the three cities in the province of Batangas, Lipa City, a.k.a the “Little Rome of the Philippines,“ is a place with:
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Magnificent churches, convents, retreat facilities, and seminaries;</li>
          <li><i class="ri-check-double-line"></i> Two popular apparitions (Shower of Petals in 1948 and the “Lady” atop a coconut tree in 1993); and</li>
          <li><i class="ri-check-double-line"></i> Great opportunities for investments and light industries.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <p style='text-align:justify;'>
          Given its location, it is home to several tourist destinations such as Lipa City Community Park, Bluroze Farm, Mount Malarayat Golf and Country Club, The Farm at San Benito, Metropolitan Cathedral of San Sebastian, Carmel of Our Lady of All Grace, Divino Amor Chapel (Redemptorist Church), Mary Mediatrix of All Grace Parish, St. Therese of the Child Jesus Parish, Capuchin Chapel (St. Padre Pio), and Benedictine of the Incarcate World (OSB).
        </p>
        <a href="{% url 'about' %}" class="btn-learn-more">Learn More</a>
      </div>
    </div>

  </div>
</section>


<section id='statistics' class='statistics'>
  <div class="container">
    <div data-aos="fade-up">
      <div class="section-title" data-aos="fade-up">
        <h2>Statistics (this year)</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat1.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat2.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat3.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat4.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat5.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat6.png' %}" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-fluid">
          <img class='stat' src="{% static 'images/stat7.png' %}" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

<section id="more-services" class="more-services">
  <div class="container">

    <div data-aos="fade-up">
      <center>
        <h2>Significant Locations</h2>
        <p>Make sure to check these places out if you're planning to go to Lipa!</p>
      </center>
    </div>

    <div class="row">
    {% if significant_locations %}
    {% for significant_location in significant_locations %}

    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="card" style='background-image: url("{{ significant_location.hero_image.url }}");' data-aos="fade-up" data-aos-delay="100">
        <div class="card-body">
          <h5 class="card-title"><a href="">{{ significant_location.title }}</a></h5>
          <p class="card-text">{{ significant_location.body_text|truncatechars:200 |safe }}</p>
          <div class="read-more"><a href="{% url 'article_detail' slug=significant_location.slug %}"><i class="icofont-arrow-right"></i> Read More</a></div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <p>There are no significant locations yet.</p>
    {% endif %}

  </div>
</section>


<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Contact Us</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="contact-about">
          <h3>City of Lipa</h3>
          <p>At the heart of Batangas province lies Lipa City, a flourishing city sitting majestically on top of a mountain.</p>
          <div class="social-links">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.facebook.com/places/Things-to-do-in-Lipa-Batangas/107906772570363/" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="info">
          <div>
            <i class="ri-map-pin-line"></i>
            <p>Office Of The City Mayor, Maraouy, Lipa City, Batangas 4217</p>
          </div>

          <div>
            <i class="ri-mail-send-line"></i>
            <p>admin@lipa.gov.ph</p>
          </div>

          <div>
            <i class="ri-phone-line"></i>
            <p>(043) 774 5169</p>
          </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
        <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
          {{form.as_p}}
        <div class="text-center"><button class='send-form' type="submit">Send Message</button></div>
        </form>
      </div>


    </div>

  </div>
</section>

{% endblock content %}
